.div-orders {
    width: 1020px;
    margin: 0 auto;
}

.bg-orders {
    background-image: url("../images/bg_orders.png");
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.bg-full-page {
    width: 100%;
    height: 1200px;
    background-color: darkblue;
}