{% load static %}
<div class="header">
    <div class="header__container">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="", class="logo__img">
            <h1 class="logo__title">Империя печати</h1>
        </div>
        <div class="menu">
            
            <p class="header__item">О нас</p>
            <p class="header__item">Помощь</p>
            <p class="header__item">Контакты</p>
            
        </div>
        <div class="profile">Личный кабинет</div>
    </div>
</div>