{% extends 'base.html' %}

{% block title %}Книжное издательство{% endblock %}

{% block content %}
<div class="body__container">
    <form action="" method="get" class="search__items">
        {% csrf_token %}
        <div class="search__container">
            <input name="wrk" type="text" value={{collection.input_value}}>
            <input type="submit" value="Поиск">
        </div>
    </form>
    <div class="grid-container">
        {% for work in collection.works %}
            {% include 'work_element.html' with element=work %}
        {% endfor %}
    </div>
</div>
{% endblock %}